app:
    jwtSecret: JWTSuperSecretKey
    jwtExpirationInMs: 604800000

server:
    port: 8090

spring:
    datasource:
        url: jdbc:mysql://localhost:3306/test?useSSL=false
        username: root
        password: 123456
        initialization-mode: always
    
    jpa:
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        hibernate:
            ddl-auto: update

    jackson:
        time-zone: UTC
        serialization:
            WRITE_DATES_AS_TIMESTAMPS: false

logging:
    level:
        root: warn
        org:
            hibernate:
                sql: debug